repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black
        types: [python]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: isort
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8
        types: [python]
        exclude: setup.py

      - id: commit-msg
        name: commit-msg
        stages: [prepare-commit-msg]
        language: system
        entry: scripts/prepare-commit-message.sh

      # - id: pytest
      #   name: pytest
      #   stages: [commit]
      #   language: system
      #   entry: scripts/run_tests.sh
